* {
  margin: 0;
  cursor: default;
  box-sizing: content-box;
}

body {
  font-family: "Barlow", sans-serif;
  size: 100%;
}

.logo {
  height: 100px;
}

.hover {
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  background-color: #af8eac;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: #eccce9 0 1px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin: 0 2rem;
  justify-content: space-around;
  padding: 10px;
  gap: 2rem;
  list-style: none;
}

.navbar a,
.menu a {
  color: #333;
  text-decoration-line: none;
}

.navbar a:hover,
.menu a:hover {
  cursor: pointer;
}

.index-title {
  text-align: center;
  margin: 5rem 0 2rem 0;
  color: #333;
  text-shadow: #af8eac 2px 2px;
}

#signout {
  text-align: center;
  text-transform: uppercase;
  text-shadow: #333 1px 1px;
  background-color: #af8eac;
  color: white;
  border: 2px solid #af8eac;
}

.index-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  column-gap: 0px;
  padding: 0 10rem;
}

.index-cards-details {
  padding: 10px;
  border: 3px black;
  text-align: center;
}

.index-cards-details img {
  height: 100px;
}

.index-cards-details h4 {
  color: green;
}


.main-products {
  background-color: black;
  padding: 1rem;
}

.products{
  width: 350px;
}

.products h5 {
  color: #4a3449;
}

.buttons {
  margin-bottom: 3rem;
}

.button {
  background-color: #4a3449;
  border: none;
}

.button:hover {
  background-color: #7d5a7b;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  font-size: 11px;
  color: #af8eac;
  padding: 1.5rem 0;
}

.footer li {
  list-style-type: none;
}

.footerLink:hover {
  cursor: pointer;
}

.TOP {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.TOP-top {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #bfb6b6;
  background-color: #332f2f;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  transition: background-color 0.3s;
}

.TOP-top i {
  font-size: 15px;
}

.TOP-top:hover {
  background-color: #af8eac;
  color: #332f2f;
}

.TOP-top-font {
  align-items: center;
}

#noProducts {
  text-align: center;
  margin-bottom: 80px;
}

#searchHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#search {
  width: 35px;
  padding: 2px;
  transform: scaleX(-1);
}

#text {
  width: 400px;
  height: 20px;
  padding: 4px;
  text-align: left;
  justify-content: center;
  background-color: #7d5a7b40;
}

#albumPhotos{
  height: 300px;
  width: 300px;
  align-self: center;
}

.detailsProducts:hover {
  cursor: pointer;
}

#paginationButtons {
  display: flex;
  justify-content: center;
}

.pagination {
  width: 50px;
  padding: 10px;
  margin: 0 20px;
}

.paginationText {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.paginationText:hover {
  cursor: pointer;
}

.productTitle {
  text-shadow: #d5add3 2px 2px;
}

.productDetails {
  font-size: 18px;
  text-decoration: underline;
}

.addtocartButton {
  padding: 8px 10px;
  background-color: #674465;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.addtocartButton:hover {
  background-color: #947593;
}

.deleteButton {
  width: 78%;
  cursor: pointer;
}

.total {
  margin: 10px 0;
  font-weight: 700;
}